/* start vars */
:root {
  /* prim colors */
  --Light-red: #ff5757;
  --Orangey-yellow: #ffb01f;
  --Green-teal: #00bd91;
  --Cobalt-blue: #1125d4;
  /* griadants */
  --Light-slate-blue: #7857ff;
  --Light-royal-blue: #2e2be9;
  /* for circle */
  --Violet-blue: #4e21ca;
  --Persian-blue: #2421ca00;
  /* natural colors */
  --White: #ffffff;
  --Pale-blue: #ebf1ff;
  --Light-lavender: #c8c7ff;
  --Dark-gray-blue: #303b5a;
}
/* end vars */
/* fonts */
/* fonts */
@font-face {
  font-family: "hankengrotsek";
  src: url("../assets/fonts/HankenGrotesk-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
/* fonts */
/* global values */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 1.125rem;
  line-height: 1.5;
}
body {
  font-family: "hankengrotsek", sans-serif;
  min-height: 100vh;
  background-color: var(--Pale-blue, #ebf1ff);
}
/* global values */
/* component */
.uls-shape {
  inline-size: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 1rem;
  font-size: 0.9rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  & div {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    h3 {
      font-size: 0.9rem;
    }
  }
  & .score {
    color: var(--Dark-gray-blue, #303b5a);
    font-weight: 900;
    & span {
      color: rgba(48, 59, 90, 0.5);
    }
  }
}
/* component */
/* starrt design in mobile */
main {
  position: relative;
}
.top-section {
  text-align: center;
  color: var(--White);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: linear-gradient(
    to bottom,
    var(--Light-slate-blue, #7857ff),
    var(--Light-royal-blue, #2e2be9)
  );
  justify-content: space-between;
  gap: 1rem;
  border-radius: 0 0 20px 20px;
  -webkit-border-radius: 0 0 20px 20px;
  .heading-of-section {
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 400;
  }
  .circle {
    line-height: 1;
    margin-inline: auto;
    background-image: linear-gradient(
      to bottom,
      var(--Violet-blue, #4e21ca),
      var(--Persian-blue, #2421ca00)
    );
    padding: 1rem;
    inline-size: clamp(125px, 25vw, 200px);
    aspect-ratio: 1;
    font-weight: 800;
    font-size: clamp(2.5rem, 10vw, 4rem);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    .number {
      display: block;
      margin-block-start: clamp(0.7rem, 5vw, 2rem);
    }
  }
  .of-100 {
    display: block;
    font-size: 0.7rem;
    font-weight: 300;
    margin-block-start: 0.5rem;
    color: rgba(255, 255, 255, 0.5);
  }
  .head-of-result {
    text-transform: capitalize;
    font-size: clamp(1rem, 5vw, 2rem);
  }
  .dis-of-result {
    font-size: clamp(13px, 5vw, 0.8rem);
    inline-size: 85%;
    margin-inline: auto;
    font-weight: 300;
    text-align: center;
  }
}
.bottom-section {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  .heading-of-section {
    font-size: 1rem;
    text-transform: capitalize;
    color: var(--Dark-gray-blue, #303b5a);
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .summary-item-reaction {
    background-color: rgba(255, 87, 87, 0.05);
    h3 {
      color: var(--Light-red, #ff5757);
    }
  }
  .summary-item-memory {
    background-color: rgba(255, 176, 31, 0.05);
    h3 {
      color: var(--Orangey-yellow, #ffb01f);
    }
  }
  .summary-item-verbal {
    background-color: rgba(0, 189, 145, 0.05);
    h3 {
      color: var(--Green-teal, #00bd91);
    }
  }
  .summary-item-visual {
    background-color: rgba(17, 37, 212, 0.05);
    h3 {
      color: var(--Cobalt-blue, #1125d4);
    }
  }
  .continue {
    background-color: var(--Dark-gray-blue, #303b5a);
    color: var(--White, #ffffff);
    text-transform: capitalize;
    padding: 1rem;
    border: none;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    font-size: 1rem;
    &:hover {
      background-image: linear-gradient(
        to bottom,
        var(--Light-slate-blue, #7857ff),
        var(--Light-royal-blue, #2e2be9)
      );
      cursor: pointer;
    }
  }
}
.attribution {
  line-height: 1.4;
  margin: auto;
  text-align: center;
  font-size: clamp(0.8rem, 2vw, 0.9rem);
  inline-size: 70%;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2rem;
  a {
    color: hsl(228, 45%, 44%);
  }
}
/* end design in mobile */
/* design for desktop */
@media (width >= 62rem) {
  body {
    display: grid;
    place-items: center;
  }
  .your-results {
    inline-size: 700px;
    display: flex;
    overflow: hidden;
    box-shadow: 5px 5px 10px 1px rgba(200, 199, 255, 0.5);

    border-radius: 20px;
    -webkit-border-radius: 20px;
    .bottom-section {
      flex: 1;
      background-color: var(--White, #ffffff);
      border-radius: 20px;
      -webkit-border-radius: 20px;
      & > * {
        inline-size: 100%;
      }
    }
    .top-section {
      position: relative;
      margin-inline-end: -2rem;
      flex: 1;
      gap: 0;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      .dis-of-result {
        margin-block-start: -2rem;
      }
    }
    .bottom-section {
      padding: 2rem 4rem;
      gap: 2rem;
    }
  }
}
/* design for desktop */
